server:
  port: 8082

spring:
  application:
    name: transaction-service
  datasource:
    url: jdbc:mysql://localhost:3306/pip?useSSL=false&serverTimezone=UTC
    username: root
    password: Svmr12!@
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

resilience4j:
  circuitbreaker:
    instances:
      accountService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
  retry:
    instances:
      accountService:
        maxAttempts: 3
        waitDuration: 500ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2

webclient:
  account-service-base-url: http://localhost:8081
  notification-service-base-url: http://localhost:8083

